<ul class="principal-li">
  <li *ngFor="let item of files">
    <app-detail-file [item_file]="item" (refresh)="refreshItems()"></app-detail-file>
  </li>
</ul>
<div *ngIf="route_current != '../files'">
  <button (click)="backDirectory()">Back</button>
</div>
<form (ngSubmit)="onSubmit($event)">
  <label for="upload-file" class="upload">Select file
    <input id="upload-file" type="file" style="display: none;" [accept]="extensions_allowed" (change)="uploadFile($event)">
  </label>
  <button type="submit">Upload file</button>
</form>
